{
  "plugins": [
    "source-map-support",
    "transform-object-rest-spread"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ]
}
